#!/usr/bin/env bash

set -e
set -o pipefail

SCRIPT_DIR="$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)"
. "${SCRIPT_DIR}"/common

if [[ -t 0 ]]; then
  docker exec --interactive --tty --env TERM="${TERM}" "${CONTROLLER_DOCKER_NAME}" "${@}"
else
  docker exec --interactive --env TERM="${TERM}" "${CONTROLLER_DOCKER_NAME}" "${@}" <&0
fi
